<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- SpringMVC只扫描控制器 
		 expression：写的全类名
		  禁用默认扫描规则
	-->
	<context:component-scan base-package="com.wx.ssm" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 配置国际化  id必须是messageSource -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="guojihua/i18n"></property>
	</bean>
	
	<!-- 文件上传解析器 id必须是multipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 默认上传最大30MB -->
		<property name="maxUploadSize" value="#{1024*1024*30}"></property>
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>
	
	<!-- 动态扫描 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 静态扫描 -->
	<mvc:default-servlet-handler/>
	
</beans>
