<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wx.mybatis.dao.EmployeeMapper">
<!-- blocking
	eviction:缓存的回收策略
		1、LRU:最近最少使用
		2、FIFO：先进先出
		3、SOFT：软引用
		4、WEAK：弱引用
		默认使用LRU
	flushInterval:缓存刷新间隔
			缓存多长时间清空一次，默认不清空，设置一个毫秒值
			
	readOnly：是否只读
			true：只读；mybatis认为所有从缓存中获取数据的操作都是只读操作，不会修改数据。
					   mybatis为了加快获取速度，直接就会将数据在缓存中的引用交给用户，不安全，速度快。
			false：非只读：mybatis觉着获取的数据可能会被修改
						  mybatis会利用序列化&反序列化的技术克隆一份新的数据给你，安全，速度慢
			默认false
			
	size：缓存存放多少元素
	type：指定自定义缓存的全类名
		  实现Cache接口即可 
	-->
	
<cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024" type="org.mybatis.caches.ehcache.EhcacheCache">
	
</cache>
	
<!-- namespace:命名空间    现在指定为接口的全类名
	 id:唯一表示  改为接口方法名
	 resultType:返回类型
	 #{id}:从传递过来的参数中取出id值
	 public Employee getEmpById(Integer id);
	 useGeneratedKeys="true":使用自增主键获取主键值
	 keyProperty:指定对应的主键属性，也就是mybatis获取到主键以后，将这个值封装给javaBean里的哪个属性
 -->
 	
	<select id="getEmpById" resultType="emp" databaseId="mysql">
	select * from tbl_employee where id = #{id}
	</select>
	
	<insert id="addEmp" parameterType="emp" useGeneratedKeys="true" keyProperty="id">
	insert into tbl_employee(last_name,email,gender) 
	values (#{lastName},#{email},#{gender})
	</insert>
	
	<insert id="addManyEmp" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
	insert into tbl_employee(last_name,email,gender)
	values
	<!-- 
		item表示集合中每一个元素进行迭代时的别名，
	    index指 定一个名字，用于表示在迭代过程中，每次迭代到的位置，
	    open表示该语句以什么开始，
	    separator表示在每次进行迭代之间以什么符号作为分隔 符，
	    close表示以什么结束。
	 -->
	 
	 <!--  返回类型在接口处设置返回类型即可。 Integer Long Boolean void -->
	<!-- <foreach collection="list" item="item" open="(" close=")" index="index" separator=",">
			#{item.lastName},
			#{item.email},
			#{item.gender}
	</foreach> -->
	<foreach collection="list" item="item" index="index" separator=",">
			(#{item.lastName},
			#{item.email},
			#{item.gender})
	</foreach>
	</insert>
	
	<update id="updateEmp" >
	update tbl_employee set last_name=#{lastName},email=#{email},gender=#{gender}
	where id=#{id}
	</update>
	
	<delete id="delteEmpById">
	delete from tbl_employee where id = #{id}
	</delete>
	
	<delete id="delManyEmp">
	delete from tbl_employee where id in
	<foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
		#{item}
	</foreach>
	</delete>
	
	<select id="getEmpLike" resultType="emp">
	select * from tbl_employee where last_name like #{lastName}
	</select>
	
	<select id="getEmpLikeReturnMap" resultType="emp">
		select * from tbl_employee where last_name like #{lastName}
	</select>
	
</mapper>